version: "3.8"

services:
  nginx:
    build:
      dockerfile: ./docker/nginx.dockerfile
      context: .
    image: emanuelseverino/nginx_cardioup:v1
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    networks:
      - nwcardioup
    depends_on:
      - cardioup1
      - cardioup2
      - cardioup3
    restart: always
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt:/etc/letsencrypt

  pgcardioup:
    build:
      dockerfile: ./docker/pgcardioup.dockerfile
      context: .
    image: emanuelseverino/pgcardioup:v1
    container_name: pgcardioup
    ports:
      - "5432:5432"
    networks:
      - nwcardioup
    volumes:
      - pgdata:/var/lib/postgresql/data/
    restart: always

  cardioup1:
    build:
      dockerfile: ./docker/cardioup.dockerfile
      context: .
    image: emanuelseverino/cardioup:v1
    container_name: cardioup1
    ports:
      - "8000"
    networks:
      - nwcardioup
    depends_on:
      - pgcardioup
    restart: always

  cardioup2:
    build:
      dockerfile: ./docker/cardioup.dockerfile
      context: .
    image: emanuelseverino/cardioup:v1
    container_name: cardioup2
    ports:
      - "8000"
    networks:
      - nwcardioup
    depends_on:
      - pgcardioup
    restart: always

  cardioup3:
    build:
      dockerfile: ./docker/cardioup.dockerfile
      context: .
    image: emanuelseverino/cardioup:v1
    container_name: cardioup3
    ports:
      - "8000"
    networks:
      - nwcardioup
    depends_on:
      - pgcardioup
    restart: always

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    command: certonly --webroot -w /var/www/certbot --force-renewal --email emanuelsmseverino@gmail.com -d cardioupmapa.com.br --agree-tos


networks:
  nwcardioup:
    driver: bridge

volumes:
  pgdata:
